@import url(https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500&display=swap);

.main-container{
    min-height: 100vh;
    min-width: 320px;
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    text-decoration: none;
    color: rgb(2, 80, 176);
    font-weight: 500;
}

a:hover {
    text-decoration: underline;
}

.form-wrapper {
    display: flex;
    gap: 60px;
    height: 480px;
    max-width: 800px;
    overflow: hidden;
    margin: auto 10px;
    border-radius: 10px;
    font-family: 'Fredoka';
    background-color: white;
}

.primary-section {
    color: #fff;
    position: relative;
    padding: 20px 0 20px 20px;
    background: linear-gradient(#002571, #0075d5);
}

.primary-section::after {
    content: url(https://svgshare.com/i/17Ux.svg);
    position: absolute;
    top: 0;
    left: 100%;
    width: 60px;
    height: 100%;
}

.about-section {
    text-align: center;
    display: grid;
    height: 100%;
    align-items: center;
}

.greet {
    font-size: 18px;
    letter-spacing: .5px;
    font-weight: 500;
}

.logo img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.about {
    font-size: 12px;
    color: #d8d8d8;
    line-height: 1.4;
    font-weight: 300;
    margin-top: 20px;
    align-self: flex-start;
}

.pages-link {
    align-self: flex-end;
    font-size: 13px;
    color: #d8d8d8;
}

.pages-link a {
    color: #d8d8d8;
    margin: 0 8px;
    font-weight: 400;
}

.secondary-section {
    background-color: #fff;
    flex: 1 0 50%;
    padding: 20px;
    display: grid;
    align-items: center;
}

.secondary-section h2 {
    text-align: center;
}

.input-field {
    display: grid;
    margin-top: 25px;
    gap: 10px;
}

.input-field label {
    letter-spacing: .2px;
    font-weight: 500;
    color: #3e3e3e;
    font-size: 15px;
}

.input-field input {
    border: none;
    outline: none;
    font-size: 16px;
    padding: 0 5px 2px 2px;
    border-bottom: 1px solid #0075d5;
}

.input-field input::placeholder {
    font-size: 13px;
}

.agree-sec {
    font-size: 14px;
    color: #1c1c1c;
    margin: 8px 0 35px 0;
}

.agree-sec label {
    cursor: pointer;
}

.agree-sec input[type="checkbox"] {
    vertical-align: middle;
    cursor: pointer;
}

.button-sec {
    display: flex;
    gap: 20px;
}

.signup-btn,
.signin-btn {
    flex-grow: 1;
    cursor: pointer;
    font-size: 15px;
    line-height: 30px;
    font-family: 'Fredoka';
    font-weight: 500;
    border-radius: 12px;
    background-color: transparent;
}

.signup-btn {
    color: white;
    border: none;
    background: linear-gradient(0deg, #3281f7, #015691);
}

.signin-btn {
    border: 1px solid #015691;
    color: #015691;
}

@media screen and (max-width:768px) {
    .form-wrapper {
        flex-direction: column;
        max-width: 400px;
        width: 100%;
        height: auto;
    }

    .primary-section {
        padding: 20px 10px;
    }

    .about,
    .greet,
    .pages-link {
        display: none;
    }

    .primary-section::after {
        content: url(https://svgshare.com/i/17UV.svg);
        left: 0;
        width: 100%;
        height: 60px;
        top: 100%;
        margin-top: -1px;
    }

    .secondary-section {
        padding-bottom: 30px;
    }
}